header {
    margin-inline: 150px;
    padding: 0;
    margin-top: 80px;
}

main{
    margin-inline: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#contentarea {
    background-color: #fff;
    padding-bottom: 150px;
}  